# ИНФРАСТРУКТУРА
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=ledger_db
POSTGRES_REPLICA_USER=repl_user
POSTGRES_REPLICA_PASSWORD=your_secure_replica_password

# СЕРВИСЫ
APP_ENV=development

# СЕКРЕТЫ
JWT_SECRET=generate_your_own_secret_key
